<!DOCTYPE html>
<html>
<head>
    <title>Pretty Convo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
        <h1>Pretty Convo</h1>
        <p class="subheader">A project by Adrián Muñoz</p>
    </div>
    
    <form action="/uploader" method="POST" enctype="multipart/form-data" class="upload-form">
        <label for="excel-file-upload" class="filupp">
            <span class="filupp-file-name js-value">Upload Excel File</span>
            <input type="file" name="excel" id="excel-file-upload" accept=".xlsx"/>
        </label>

        <label for="template-file-upload" class="filupp">
            <span class="filupp-file-name js-value">Upload Template Image</span>
            <input type="file" name="template" id="template-file-upload" accept=".png,.jpeg"/>
        </label>

        <label for="output-path" class="filupp">
            <span class="filupp-file-name js-value">Enter Output Path</span>
            <input type="text" name="output_path" id="output-path" placeholder="e.g., output.png"/>
        </label>

        <input type="submit" value="Generate Image"/>
    </form>
</body>
</html>
